.contact-form{
    margin-top: 42px;
    background-color: rgb(236, 236, 241);
    padding: 0px 0 20px 0;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35); 
}
.name label{
    display: block;
    font-size: 1rem;
    text-align: left;
    padding: 20px 0px 5px 50px;
    font-weight: 600;
}
.name input {
    width: 83%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); 
    padding-left: 10px;
}

.name input::placeholder{
    padding-left: 10px;
}
.msg label{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 0 5px 50px;
    text-align: start;
}
.msg textarea{
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); 
    padding-left: 10px;
}
.msg textarea::placeholder{
    padding-left: 10px;
    padding-top: 5px;
}

.contact-form button {
    background-color: #391459;
    border: none;
    color: white;
    width: 83%;
    height: 40px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* shadow added */
    transition: all 0.3s ease;
}